<div class="wrapper">
    <div class="header content-center">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Recipes</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>
        <a href="#">
            <img class="logo" src="assets/images/logo.svg" alt="logo">
        </a>
        <div class="language"></div>
        <button class="login_button">Log In</button>
    </div>
</div>
