.wrapper {
    background-color: #9381FF;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    .header {
        background-color: #9381FF;
        height: 100%;
        padding: 0 30px 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-weight: bold;
        font-family: 'Bebas Neue';
        font-size: 20px;
        li, a, button, img {
            text-decoration: none;
            cursor: pointer;
        }
        
        .nav_links {
            list-style: none;
            align-items: center;
            padding-left: 0px;
            li {
                display: inline-block;
                padding: 10px;
                a {
                    color: #E2DDFF;
                }
                a:hover {
                    color: white;
                }
            }
        }

        button {
            width: 100px;
            height: 30px;
            background-color: #E2DDFF;
            color: #9381FF;
            font-weight: bold;
            font-family: 'Bebas Neue';
            font-size: 20px;
            border-radius: 50px;
            border: none;
        }

        button:hover {
            color: #E2DDFF;
            background-color: #9381FF;
            /* cursor: pointer; */
        }


        .logo {
            width: 137px;
            height: auto;
            transition: transform 250ms;
        }
        .logo:hover {
            transform: translateY(-3px);
            /* zoom: 200% ; */
        }
        
    }
}